USE [master]
GO
/****** Object:  Database [Aracely]    Script Date: 02/09/2017 02:19:09 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Aracely')
BEGIN
CREATE DATABASE [Aracely]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aracely', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Aracely.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Aracely_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Aracely_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aracely].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
